@import '../../styles.scss';

 
h5{
 color: white;
 cursor: pointer;
}

a{
 margin-bottom: 5px;
 text-decoration: none;
 color: rgb(198, 198, 198);
}
img{
 width: 30px;
 margin: 5px;
 cursor: pointer;
 
}
 