<div class="contain bg-dark p-4 pb-1">
  <div class="container d-lg-flex">

    <div class="col-lg-7 d-flex justify-content-between">
      <div class=" col m-3 row">
        <h5>Contact</h5>
        <a href>Frequently asked questions and help</a>
        <a href>Book phone</a>
        <a href>Contact with us</a>

      </div>

      <div class="col m-3 row">
        <h5>Companies</h5>
        <a href>Affiliates</a>
        <a href>Partners</a>
        <a href>Dorint Hotels & Resorts</a>

      </div>

    </div>

    <div class="col-lg-2 m-3">
      <h5 class>Email</h5>
      <div class>

        <textarea name id cols="30" rows="10"></textarea>
        <button class="mt-2 p-2">Send Message</button>
      </div>

    </div>

  </div>
  <hr class="container">
  <div class="container d-flex mt-3 mb-3">
    <h6 class=" ps-lg-4 text-white pt-2 me-4">
      © 2023 <strong>Mino</strong> Designed By <strong>ayoub</strong>
    </h6>
    <img src="../../assets/media/1.png" alt>
    <img src="../../assets/media/2.png" alt>
    <img src="../../assets/media/3.png" alt>
    <img src="../../assets/media/4.png" alt>
    <img src="../../assets/media/5.png" alt>

  </div>

</div>