<div class="contain bg-dark p-4 pb-1">
<div class="container d-lg-flex">

<div class="col-lg-7 d-lg-flex justify-content-between">
  <div class=" col m-3 row">
     <h5>Contact</h5>
<a href="">Frequently asked questions and help</a>
<a href="">Book phone</a>
<a href="">Contact with us</a> 

  </div>

  <div class="col m-3 row">
   <h5>Companies</h5>
   <a href="">Affiliates</a>
   <a href="">Partners</a>
   <a href="">Dorint Hotels & Resorts</a>
    
  </div>


</div> 



<div class="col-lg-2 m-3">
<h5 class="">Social Media</h5>
<img src="../../assets/media/facebook.png" alt="">
<img src="../../assets/media/twitter.png" alt="">
<img src="../../assets/media/youtube.png" alt="">
<img src="../../assets/media/instagram.png" alt="">
<img src="../../assets/media/pinterest.png" alt="">
 

</div>
 





 







</div>
<h6 class="justify-content-center text-center text-white pt-2 ">@Copyright 2023 Designed By Ouayoub</h6>


</div>