<!--nav bar -->
<nav class=" navbar navbar-expand-lg navbar-light border-bottom   ">
 <div class="container justify-content-between">
   <!-- Left elements -->
   <div class="d-flex">
    
     <!-- Brand -->
     <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
       <img
         src="../assets/logo/nelogo.png"
         height="40"
         alt=""
         loading="lazy"
         style="margin-top: 0px;"
       />
     </a>
 
   </div>
   
   <!-- Right elements -->
   <ul class="navbar-nav flex-row">
     
     <li class="nav-item me-3 me-lg-1">
       <a class="nav-link d-sm-flex align-items-sm-center" href="#">
         <img
           src="../../assets/icon/call.png"
           class="me-3"
           height="25"
           alt=""
           loading="lazy"
         />
         <strong class="d-none d-sm-block ms-1 text-white fw-semibold">+212 606 060 606</strong>
       </a>
     </li>
     <li class=" g nav-item me-3 me-lg-1 rounded-2 bg-white ms-lg-2 me-lg-2 ">
       <a class="nav-link text-bold" href="#">
       </a>
     </li>
    
   
   </ul>
   <!-- Right elements -->
 </div>
</nav>
<!-- Navbar -->

 

