<div class="container justify-content-evenly mt-5">

<h1 class="text-center">
 RESTAURANTS & BARS
</h1>

  
<div class="container wrapper mt-5 justify-content-evenly">
 <img src="../../../assets/BAR/0.jpg" alt="">
 <img src="../../../assets/BAR/1.jpg" alt="">
 <img src="../../../assets/BAR/2.jpg" alt="">
 <img src="../../../assets/BAR/3.jpg" alt="">
 
 <img src="../../../assets/BAR/8.jpg" alt="">
 <img src="../../../assets/BAR/9.jpg" alt="">
 <img src="../../../assets/BAR/11.jpg" alt="">
 <img src="../../../assets/BAR/22.jpg" alt="">
</div>

</div>