<div class="container mt-3">

 <ul class="d-lg-flex col-12 justify-content-between list-unstyled">
  <li class=" fw-medium"><a href="">The Hotel</a></li>
  <li class=" fw-medium"><a href="">Rooms & Suites</a></li>
  <li class=" fw-medium"><a href="">Restaurants and Bar</a></li>
  <li class=" fw-medium"><a href="">Meetings and Events</a></li>
  <li class=" fw-medium"><a href="">Spa & Wellness</a></li>
  <li class=" fw-medium"><a href="">Destination</a></li>
  <li class=" fw-medium"><a href="">Actualités</a></li>
  <li class=" fw-medium"><a href="">Presse</a></li>
  <li class=" fw-medium"><a href="">Contact</a></li>
 </ul>

</div>
