  
  @import '../../styles.scss';
   

  ul li a {

   text-decoration: none;
   color: $thirdcol !important;
   padding: 10px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 5px;
   padding-bottom: 5px; 
   font-family:'Josefin Sans regular', Courier, monospace; 
  }


  ul li {

   color: $thirdcol !important;
   background: $secondcol;
   border-radius: 5px;
   padding-top: 3px;
   padding-bottom: 6px;
  }

  ul li:hover {

   background: $firstcol ;
   transition: ease-in-out 100ms;

  }