
<div class="all mt-5">
  <div class="text-center mb-4 mt-5">
    <h1>
      POPULAR DESTINATIONS
    </h1>
  </div>

  <ul class="nav nav-pills mb-2 justify-content-center" id="pills-tab"
    role="tablist">
    <li class="nav-item " role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
        data-bs-target="#pills-home" type="button" role="tab"
        aria-controls="pills-home" aria-selected="true">Maroc</button>
    </li>
    <li class="nav-item " role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
        data-bs-target="#pills-profile" type="button" role="tab"
        aria-controls="pills-profile" aria-selected="false">Spain</button>
    </li>
    <li class="nav-item " role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
        data-bs-target="#pills-contact" type="button" role="tab"
        aria-controls="pills-contact" aria-selected="false">Portugal</button>
    </li>
    <li class="nav-item " role="presentation">
      <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill"
        data-bs-target="#pills-disabled" type="button" role="tab"
        aria-controls="pills-disabled" aria-selected="false" disabled>New</button>
    </li>
  </ul>
  <!-- ############### 1 ##################"  "-->

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
      aria-labelledby="pills-home-tab" tabindex="0">

      <div class="row row-cols-1 row-cols-md-3 g-4 p-4">
        <div class="col">
          <div class="card h-100 border-0  ">
            <img src="../../../assets/place/1.jpg"
              class="card-img-top"
              alt="...">
            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Casablanca</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>

              <p class="card-text">✔ Located in the Golden Triangle</p>
              <p class="card-text">✔ Meeting and banquet rooms</p>
              <p class="card-text">✔ Wellness and fitness center with hammam</p>
              <button class="to-book mt-3  rounded-2">
                TO BOOK
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0">
            <img src="../../../assets/place/2.jpg"
              class="card-img-top"
              alt="...">
            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Fés</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>

              <p class="card-text">✔ In the heart of the imperial city of Fes</p>
              <p class="card-text">✔ Bedrooms B-room design</p>
              <p class="card-text">✔ Wellness Center</p>
              <button class="to-book mt-3  rounded-2">
                TO BOOK
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0">
            <img src="../../../assets/place/3.jpg"
              class="card-img-top"
              alt="...">
            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Tangier</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>

              <p class="card-text">✔ Emplacement privilégié dans la Palmeraie de
                Marrakech</p>
              <p class="card-text">✔ Centre d'affaires avec 10 chambres
                spacieuses</p>
              <p class="card-text">✔ Centre de bien-être et de remise en forme</p>
              <button class="to-book mt-3  rounded-2">
                TO BOOK
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- ################# 2 ################"  "-->

    <div class="tab-pane fade" id="pills-profile" role="tabpanel"
      aria-labelledby="pills-profile-tab" tabindex="0">

      <div class="row row-cols-1 row-cols-md-3 g-4 p-4">
        <div class="col">
          <div class="card h-100 border-0">
            <img src="../../../assets/place/11.jpg"
              class="card-img-top"
              alt="...">

            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Sevilla</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>

              <p class="card-text">✔ Premium Deluxe Rooms</p>
              <p class="card-text">✔ Heated swimming pool (depending on the
                season)</p>
              <p class="card-text">✔ Family accommodation</p>
              <button class="to-book mt-3  rounded-2">
                TO BOOK
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0">
            <img src="../../../assets/place/22.jpg"
              class="card-img-top"
              alt="...">
            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Madrid</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>

              <p class="card-text">✔ Ideal hotel for getting to Warner Park
                Madrid</p>
              <p class="card-text">✔ Meeting room for 650 people</p>
              <p class="card-text">✔ Hotel with outdoor swimming pool in
                Aranjuez</p>
                <button class="to-book mt-3  rounded-2">
                  TO BOOK
                </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0">
            <img src="../../../assets/place/33.jpg"
              class="card-img-top"
              alt="...">

            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Málaga</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>
              <p class="card-text">✔ One of the 50 best business hotels in the
                world</p>
              <p class="card-text">✔ Ideal for congresses and trade fairs</p>
              <p class="card-text">✔ The best connected hotel in Malaga</p>
              <button class="to-book mt-3  rounded-2">
                TO BOOK
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- ################ 3 #################"  "-->

    <div class="tab-pane fade" id="pills-contact" role="tabpanel"
      aria-labelledby="pills-contact-tab" tabindex="0">

      <div class="row row-cols-1 row-cols-md-3 g-4 p-4">
        <div class="col">
          <div class="card h-100 border-0">
            <img src="../../../assets/place/111.jpg"
              class="card-img-top"
              alt="...">

            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Porto</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>

              <p class="card-text">✔ Ideal for family vacations</p>
              <p class="card-text">✔ All inclusive service</p>
              <p class="card-text">✔ Newly refurbished Premium Level</p>
              <button class="to-book mt-3  rounded-2">
                TO BOOK
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0">
            <img src="../../../assets/place/222.jpg"
              class="card-img-top"
              alt="...">
            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Lisbon</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>

              <p class="card-text">✔ Premium Deluxe Rooms</p>
              <p class="card-text">✔ Heated swimming pool (depending on the
                season)</p>
              <p class="card-text">✔ Family accommodation</p>
              <button class="to-book mt-3  rounded-2">
                TO BOOK
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0">
            <img src="../../../assets/place/333.jpg"
              class="card-img-top"
              alt="...">
            <div class="card-body">
              <div class="d-flex container col-12 justify-content-between">
                <h4 class="card-title mb-5  ">Alfama</h4>
                <h4 class="card-title mb-5  fs-6">⭐⭐⭐⭐⭐</h4>
              </div>

              <p class="card-text">✔ Emplacement privilégié sur la plage Alfama</p>
              <p class="card-text">✔ Grand espace en plein air</p>
              <p class="card-text">✔ Idéal pour les familles avec enfants à
                Alfama</p>
                <button class="to-book mt-3  rounded-2">
                  TO BOOK
                </button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- #################################"  "-->

    <div class="tab-pane fade" id="pills-disabled" role="tabpanel"
      aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
  </div>
  <!-- ends -->
  <!--


-->
</div>
