@import '../../../styles.scss';

h1,
h4 {
  font-family: 'Josefin Sans regular', Courier, monospace;
  color: $thirdcol;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  transition: ease-in-out 300ms;
}

p {
  font-size: small;
  font-family: 'Josefin Sans semibold', Courier, monospace;
  color: $lastcol;

}

.nav-link {
  font-family: 'Josefin Sans regular', Courier, monospace;

}

button {
  font-family: 'Josefin Sans semibold', Courier, monospace;  
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 10px; 
  border: solid 1px white ;
  color: $firstcol;
}

 button:hover{
  color: $firstcol;
 }

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: white;
  background-color: $firstcol;
}

.card-img-top, .card {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.to-book{
  font-family: 'Josefin Sans semibold', Courier, monospace; 
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px $firstcol;
  background-color: white;
  color: $firstcol;
}
.to-book:hover { 
  border: solid 1px $firstcol;
  color: $firstcol ;
}
.to-book:active { 
 
  color: white ;
  background-color: $firstcol;
  border: solid 1px white ;
}

 
/*


 









*/