<section class="mt-5">
  <header class="text-center col-12">
    <h1  >
      STORY TELLING OF
      <strong class="firstcol">MINO HOTEL</strong>
    </h1>
    <p class="me-5 ms-5 justify-content-evenly">
      Nestled in the serene and leafy neighborhood of Casablanca, just a short
      5-minute drive from the bustling business center, the enchanting Corniche,
      and the prestigious Royal Golf Course, Mino Hotel embodies the essence of
      this captivating destination. Inspired by the timeless Art Deco era, our
      hotel boasts a minimalist architectural design that exudes sophistication.
      Surrounded by a lush garden oasis in the heart of the city, Mino Hotel
      proudly showcases its distinctive charm as an Urban Resort, offering an
      atmosphere of cozy elegance that is simply unparalleled.
    </p>

    <button class="text-uppercase fw-semibold">
More Infos
    </button>
  </header>
</section>
