@import '../../../styles.scss';

h1 {
 font-family: 'Josefin Sans regular', Courier, monospace;
}

button {
 padding: 7px;
 padding-left: 40px;
 padding-right: 40px;
 background: $firstcol ;
 color: white !important;
 border-radius: 10px;
 border: solid 1px white;

}

button:hover {

 color: $thirdcol !important;
 background-color: $secondcol;
 transition: ease-in-out 300ms;

}