/* You can add global styles to this file, and also import other style files */
 

$firstcol : #CCCC5C;
$secondcol : #E3E3BA;
$thirdcol : #65643C;
$lastcol : #84A87C;



.firstcol{
 color: $firstcol;
}
body{
 color: #65643C !important;
}
.mystyle{
 font-family:'Josefin Sans light', Courier, monospace;
}